<div fxLayout="row" class="dyn-card">
  <md-card fxLayout="column" fxFlex class="flex-container" *ngIf="customer">
    <div fxLayout="row" class="dyn-btn-container" fxLayoutAlign="end center" >
      <button md-button (click)="deleteCustomer()"><md-icon class="dyn-icons-black">delete</md-icon></button>
      <button md-button (click)="saveCustomer()"><md-icon class="dyn-icons-black" svgIcon="save"></md-icon></button>
    </div>
    <form [formGroup]="customerForm" novalidate fxLayout="column">
      <md-input-container fxFlexFill>
        <input mdInput placeholder="Name" formControlName="name"/>
      </md-input-container>
    </form>
  </md-card>
</div>
