<div fxLayout="row" class="dyn-card" fxFlex>
  <md-card fxLayout="column" fxFlex class="flex-container" *ngIf="customer">
    <div fxLayout="row" fxFlex fxLayoutAlign="end center">
      <button md-button (click)="deleteCustomer()"><md-icon class="dyn-icons-black">delete</md-icon></button>
      <button md-button (click)="saveCustomer()"><md-icon class="dyn-icons-black" svgIcon="save"></md-icon></button>
    </div>
    <md-input-container>
      <input mdInput [(ngModel)]="customer.name" placeholder="Name"/>
    </md-input-container>

  </md-card>
</div>
