.dyn-sidenav{
  background-color: #2f475b;
  width: 264px;
}

.dyn-menu-item{
  width: 100%;
  text-align: left;
  height: 48px;
}

.dyn-menu-item-text{
  color: #ffffff;
  padding-left: 10px;
}

.dyn-sidebar-shadow{
  -webkit-box-shadow: 0px 13px 22px -2px rgba(214,214,214,1);
  -moz-box-shadow: 0px 13px 22px -2px rgba(214,214,214,1);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: -1;  
}

