<div fxLayout="row" fxFill fxFlex>

  <md-sidenav-container fxFill fxFlex>
    <dyn-toolbar class="dyn-toolbar-shadow" (notify)="onNotifyClicked($event)" *ngIf="isLoggedIn"></dyn-toolbar>
    
    <md-sidenav #dynsidebar class="dyn-sidenav" mode="side" *ngIf="isLoggedIn">
      <dyn-userprofile-banner></dyn-userprofile-banner>

      <div *ngFor="let menuitem of menuitems">
        <button fxLayout="row" md-button [routerLink]="menuitem.link" class="dyn-menu-item">
          <md-icon class="dyn-menu-icon" svgIcon={{menuitem.icon}}></md-icon>
          <span class="dyn-menu-item-text">{{menuitem.name}}</span>
        </button>
      </div>
    </md-sidenav>

    <router-outlet>
      <dyn-breadcrumb *ngIf="isLoggedIn"></dyn-breadcrumb>
    </router-outlet>

  </md-sidenav-container>
  <ng2-toasty></ng2-toasty>
</div>

