<div fxLayout="column" fxFill fxFlex>
  <dyn-toolbar (notify)="onNotifyClicked($event)"></dyn-toolbar>

  <md-sidenav-container fxFill fxFlex>

    <md-sidenav #dynsidebar class="dyn-sidenav" mode="side" >
      <div *ngFor="let menuitem of menuitems">
        <button fxLayout="row" md-button [routerLink]="menuitem.link" class="dyn-menu-item">
          <md-icon class="dyn-menu-icon" svgIcon={{menuitem.icon}}></md-icon>
          <span class="dyn-menu-item-text">{{menuitem.name}}</span>
        </button>
      </div>
    </md-sidenav>

    <router-outlet>
      <dyn-breadcrumb></dyn-breadcrumb>
    </router-outlet>

  </md-sidenav-container>
  <ng2-toasty></ng2-toasty>
</div>

