.dyn-toolbar{
  background-color: #00bcd4;
}

.dyn-logo{
  width: 42px;
  height: 36px;
  padding-top: 7px;
  margin-left: 10px;
}

.dyn-heading{
  padding: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}