/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0px;
}

.dyn-fill-remaining-space {
  flex: 1 1 auto;
}

.dyn-icons-white svg {
  fill: #e1dee3;
}

.dyn-icons-black svg {
  fill: #2e465b;
}

.dyn-full-height {
  height: 100%;
}


.dyn-menu-icon svg {
  fill: #9b9b9b;
}

.dyn-card {
  margin: 10px;
}