.dyn-userprofile{
  height: 63px;
  background-color: #00bcd4!important;
}

.dyn-user-img{
  border-radius: 50%;
  background-color: #2f475b;
  color: #ffffff;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}