.signin-btn{
    height: 44px;
}

.facebook-btn{
    background-color: #3b5998;
    height: 44px;
    color: #fff;
    margin-bottom: 10px;
}

.twitter-btn{
    background-color: #48aae6;
    height: 44px;
    color: #fff;
    margin-bottom: 10px;
}

.facebook-icon svg{
    path{
        fill: #ffffff!important;
    }
}

.social-btns{
    margin-top: 30px;
    margin-bottom: 2px;
}

.login-btns{
    margin-top: 10px;
}