<div class="dyn-card" fxLayout="column" fxFlex  fxFill class="dyn-background-image">
  <div fxLayout="row">
    <div class="dyn-logo-btn dyn-pattern" layout="row" layout-align="center center">
      <img src="assets/img/gb.png" class="dyn-logo"/>
      Dynki
    </div>
    <div fxLayout="row" fxHide.xs fxHide.sm>
      <button md-button (click)="features()" class="banner-btns signin-white-btn">Features</button>
      <button md-button (click)="pricing()" class="banner-btns signin-white-btn">Pricing</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>

    <div fxLayout="column" class="logo-strap" fxHide.xs fxHide.sm>
      <div class="logo-strap-headline">Keep track of your day</div>
      <div class="logo-strap-subhead">Anywhere, Anytime</div>
      <button md-button (click)="learnMore()" class="strap-btn">Learn more</button>
    </div>

    <md-card fxLayout="column" class="signin-form signin-form-bg dynki-dark-theme">
      <h1 class="signin-logo">Sign In</h1>

      <md-input-container >
        <input mdInput [(ngModel)]="email" placeholder="Email"/>
      </md-input-container>
      <md-input-container>
        <input type="password" mdInput [(ngModel)]="password" placeholder="Password"/>
      </md-input-container>

      <div fxLayout="row" class="login-btns">
        <button md-button (click)="login()" class="dyn-login-btn signin-btn">LOG IN</button>
        <button md-button (click)="forgotPassword()" class="signin-white-btn signin-btn">FORGOT PASSWORD?</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="orsignin">Or Sign in With</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" class="social-btns">
        <!--<md-checkbox class="example-margin" [(ngModel)]="termsAgreed">Agree Terms of Service</md-checkbox>-->
        <button (click)="googleSignIn('Google')" md-button class="google-btn">
          <md-icon class="google-icon" svgIcon="google"></md-icon>
        </button>
        <button (click)="facebookSignIn('Facebook')" md-button class="facebook-btn">
          <md-icon class="facebook-icon" svgIcon="facebook"></md-icon>
        </button>
        <button (click)="twitterSignIn('Twitter')" md-button class="twitter-btn">
          <md-icon class="facebook-icon" svgIcon="twitter"></md-icon>
        </button>
      </div>
      <button md-button (click)="signUp()" class="signin-white-btn signin-btn">
        NOT A MEMBER - SIGN UP FOR FREE
      </button>
    </md-card>
  </div>
  <div class="footer-row" fxLayout="row" fxHide.xs fxHide.sm>
    <button md-button (click)="about()" class="footer-btns signin-white-btn">About</button>
    <button md-button (click)="terms()" class="footer-btns signin-white-btn">Terms</button>
    <button md-button class="footer-btns signin-white-btn">Developed by Dynki Software</button>
  </div>
</div>
